/*
    Color palette
    Gray: #262626, Dark Green: #1C3738,
    Green: #75A99A, Red: #D77A61,
    White: F#EEFDD
*/
body {
  font-family: system-ui, -apple-system, "Helvetica Neue", Arial, sans-serif;
  background: #;
  color: #111;
  margin: 0;
}

header {
  background: #1c3738;
  color: #75a99a;
  text-align: center;
  padding: 1rem 0;
}

nav a {
  color: #d77a61;
  text-decoration: none;
  margin: 0 10px;
}

main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}

footer {
  background: #262626;
  color: #d77a61;
  text-align: center;
  padding: 1rem;
}
